h1
{
  color:goldenrod;
  text-align: center;
}
#message-el
{
    text-align: center;
    color: white;
    font-style: italic;
}
p
{
    text-align: center;
    color: white;
}
body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    font-weight: bold;
    text-align: center;
}
button{
     border-radius: 2px;
     cursor:pointer;
     color:#016f32;
     width: 150px;
     background: goldenrod;
     border: none;
     font-weight: bold;
     padding-top: 5px;
     padding-bottom: 5px;
     margin-bottom: 4px;
     
}
